html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #dedcdc;
}

.books-container {
    flex: 1;
}

header, footer {
    text-align: center;
    margin: 20px 0;
}

footer {
    margin-top: auto; /* Pushes the footer to the bottom */
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adds space between the cards */
    padding: 20px;
}

.book-month {
    font-size: 1em;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.333% - 20px); /* Adjusts card width for 3-column layout */
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    overflow: hidden; /* Ensures content does not overflow the card */
}

.book-image {
    width: 100%;
    display: block; /* Removes bottom space under the image */
}

.book-details {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 20px;
    box-sizing: border-box; /* Ensures padding does not increase the size of the details */
}

.book:hover .book-details {
    display: block;
}

@media (max-width: 768px) {
    .book {
        width: calc(50% - 20px); /* Adjusts for 2-column layout on smaller screens */
    }
}

@media (max-width: 480px) {
    .book {
        width: 100%; /* Full width on very small screens */
    }
}
